APP_NAME=Metohub
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
SECRET_KEY=

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=metohub_db
DB_USER=postgres
DB_PASSWORD=

MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Metohub

MAX_IMAGE_BYTES=409600
