APP_NAME=Metohub
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
SECRET_KEY=change-this-to-a-long-random-string

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=glov_py
DB_USER=root
DB_PASSWORD=

MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Metohub
